[flake8]
# igrore long lines, line break before binary operator, whitespace before ':'
ignore = E501, W503, E203
# exclude some common directories that should not be checked
exclude = .git, __pycache__, venv, env
# code complexity threshold
max-complexity = 15